Question1.
Ans:Values: ”hello” , -87.8 ,6

Expression: * ,  -, / , +

Question2.
Ans:A String is a value that represents text and a variable is a name which represents any value.

Question3.
Ans: Description of three different type of data type are:
1)List: List is an ordered collection of data which is mutable and heterogeneous and it is created by placing values under the square box separated by comma.

Ex. list = [“Mango”,”Prachi”,5,[“grapes”,”orange”]]

2)Tuple: Tuples are ordered collections of data which are immutable and heterogeneous and it is created by placing elements under parenthesis separated by comma.

Ex.tup =(1, “prachi”,8.9,”Mango”)

3)Dictionary:  Dictionary is a collection of ordered collections of data. Each item stored in the dictionary has a key value making it a key value pair.It is mutable and created by placing key-value pairs inside the curly braces.It is also heterogeneous in nature.

Ex.
My_dic = {“Rollno”:89, “Percentage”:90,”name”:”Prachi”}

Question4.
Ans:An expression is made up of mathematical operators like +,-,*,/. It performs mathematical operations.

Question5.
Ans:An expression can evaluate a single value but a statement does not evaluate a single value.
An expression is a combination of values and operators. All expressions evaluate (that is, reduce) to a single value

Question6.
Ans: After running the below code variable bacon contains value 23.

In [3]:
bacon = 22
bacon + 1
print(bacon+1)

23

Question7.
Ans: the values for following terms :
‘spamspamspam’
‘spamspamspam’

In [7]:
a="spam"+"spamspam"
print(a)
b="spam"*3
print(b)

spamspamspam
spamspamspam

Question8.
Ans:Because in python as a standard format to declare a variable we cannot start variable names with a number.So that 100 is invalid variable name and eggs is valid variable name.

Question9.
Ans:For integer : int(),
    Floating-point: float(),
    String: str()

Question10.
Ans:‘I have eaten ‘+ 99 + ‘burritos.’
    this expression is causing error because 99 is and integer not a string so the operation is incopatible until we convert 99 to string value.
    To fix this error use str() to convert integer 99 into string value.

In [11]:
print('I have eaten '+ str(99) + ' burritos.')

I have eaten 99 burritos.